body { 
  margin-left: 70px;
  margin-right: 70px;
  text-align: center; 
  color: white;
}

#menu { 
  background-image: url("Stats.jpg");
}

#Polls { 
  background-image: url("Belgique.jpeg");
}


h1 {
  margin-left: 100px;
  margin-right: 100px;
  background-color: black;
  border: 2px black;
  border-radius: 15px;
}

h3 {
  margin-left: 150px;
  margin-right: 150px;
  background-color: #3cb371;
  border: 2px black;
  border-radius: 15px;
}

p {
  margin-left: 180px;
  margin-right: 180px;
  background-color: white;
  border: 2px white;
  border-radius: 15px;
  color: black;
}

